.Earnings-box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.Earnings-hero-design{}

.EarningsHero{
    height: 100px;
}

/* .Earnings-nav-buttons-container{
  display: flex;
  justify-content: center;
  gap: 20px;
} */
.EarningsNavButtons{}

.Earnings-Container-Title{}
.Earnings-users-stats-container{
  display: flex;
  align-self: center;
  width: 80%;

  gap: 20px;
}
.Earnings-users-stats-bg{
  background-color: #F4EEE9;
  height: 200px;
  width: 50%;
  box-shadow: 0 10px 20px -10px rgba(61, 54, 54, 0.249);
  border-radius: 20px;
}

.Earnings-users-list-container{
  background-color: #F4EEE9;
  width: 80%;
  height: 100%;
  box-shadow: 0 10px 20px -10px rgba(61, 54, 54, 0.249);
  border-radius: 20px;

}

.ConnectToRetrieve-box-container{
  background-color: #F4EEE9;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 30%;
  border-radius: 10px;
}