.LayoutTop-box-container {
    display: flex;
    border-bottom: 1px solid;
    border-color: #4c505c;
    background-color: #F4EEE9;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;


  
  
  }
  
  .txt2{
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    font-style: none;
    color: inherit;
    height: 35px;
  }
  
  .LayoutTop-topbox-left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    max-width: 250px;
    min-width: 250px;
  }
  
  .LayoutTop-topbox-right-box {
    width: 80%;
    background-color: #EDE7E2; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 40px;
    
  
  }
  

  
  .atrb-web3-buttons{
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3B3E46;
    border-radius: 11px;
    margin-left: 15px;
    
  }
  #atrb-web3-ConnectWallet:hover{
    box-shadow: 0 10px 20px -10px rgba(61, 54, 54, 0.6);
    transform: translateY(-2px);
  }
  
  #AppBridge{}
  #AppChain{}
  #AppWallet{}