.Quests-box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.Quests-hero-container{
  display: flex;
  justify-content: center;
  width: 80%;
}

.Quests-hero-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;

}

.Quests-hero-right{
  width: 30%;
}


.QuestsHero-design{
  height: 200px;
}
.QuestsHero-text1{
  font-size: 20px;
}
.QuestsHero-text2{
  font-size: 20px;
  margin-bottom: 50px;
}


.Quests-users-handle-container{
  display: flex;
  align-self: center;
  width: 95%;
  
  gap: 20px;
}
.Quests-users-handle-bg{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: #F4EEE9;
  height: 100%;
  width: 50%;
  box-shadow: 0 10px 20px -10px rgba(61, 54, 54, 0.249);
  border-radius: 20px;
}

.Quests-users-handle-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#quhtbg{
  color: white;
  background-color: #FFA62B;
  width: 140px;
  border-radius: 8px;
}

.Quests-users-handle-bg-quest{

  width: 90%;
  height: 100%;
  background-color: #EDE7E2;
  margin-bottom: 30px;
  box-shadow: 0px 1px 9px 0px rgba(61, 54, 54, 0.249);
  border-radius: 10px;



}

/* #100less{
  padding: 10px;
margin: 10px;
  background-color: #0179B7;
} */

.Quests-users-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4EEE9;
  width: 95%;
  height: 100%;
  box-shadow: 0 10px 20px -10px rgba(61, 54, 54, 0.249);
  border-radius: 20px;

}

/* .Quests-renderJoinedQuests-box-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

} */

.Quests-renderJoinedQuests-top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
}

.Quests-renderJoinedQuests-top-left{
  display: flex;
  justify-content: center;
  width: 10%;
  min-width: 100px;
}
.Quests-TwitterBird{
  height: 70px;
}
.Quests-renderJoinedQuests-top-right{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
  margin-bottom: 10px;
}

.Quests-renderJoinedQuests-top-right-title{
  margin-bottom: 0px;
}

.Quests-renderJoinedQuests-top-right-text{
  margin-top: 0px;
}

.Quests-renderJoinedQuests-bottom{
  display: flex;
  justify-content: space-around;
  /* gap: 20px; */
}

.Quests-renderJoinedQuests-bottomButtons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;

}

.Quests-renderAvailableQuests-box-container{
  display: flex;
  align-items: center;
}

.Quests-renderAvailableQuests-left{
  width: 90%;
}

.Quests-renderAvailableQuests-left-top{
  display: flex;
  text-align: left;

}

.Quests-renderAvailableQuests-left-top-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.Quests-TwitterBird{}

.Quests-renderAvailableQuests-left-top-right{}


.Quests-renderAvailableQuests-left-top-right-title{
  display: flex;
  align-items: center;
}

#QRAQTRT{
  width: 30%;
  font-size: 20px;
}

#QRAQTRTR{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font-weight: bold;
  background-color: #FFA62B;
  color: white;
  border-radius: 8px;

}
.Quests-renderAvailableQuests-left-top-right-text{}

.Quests-renderAvailableQuests-left-bottom{
  margin-top: 20px;
  display: flex;
  width: 100%;

}

.Quests-renderAvailableQuests-left-bottom-stats{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 33%;
}
.Quests-renderAvailableQuests-left-bottom-stats-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100px;
  height: 40px;
  background-color: #0179B7;
  border-radius: 10px;
}
.Quests-renderAvailableQuests-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 20%;
}

.QRAQB{
  width: 150px;
}
