.darkBG {
  background-color: rgba(0, 0, 0, 0.7);
  width: 4000px;
  height: 4000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;

}

.centered {
  z-index: 100;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 500px;
  height: 620px;
  background: #EDE7E2;
  color: black;
  z-index: 30;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  border: 20px solid;
  border-color: #F4EEE9;
}

.modalHeader {
  display: flex;
  height: 80px;
  background: #EDE7E2;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.modalTwitter-Logo-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.ModalTwitter-TwitterBird{
  height: 50px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: black;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: black;
  text-align: center;
}

.ModalTwitter-renderJoinedQuests{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  height: 350px;
  gap: 20px;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: black;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px #1DA1F2;
  transform: translateY(-5px);
  background: whitesmoke;
}

.cancelBtn {
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}