
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
html {
  margin: 0px;
  font-family: 'Space Mono', monospace;
  background-color: #EDE7E2;


}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

button {
  padding: 9px 16px;
  max-height: 40px;
  border-color: #EDE7E2;
  color: #32292F;
  background-color: #F4EEE9;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
}

button:hover{
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  /* transform: translate(-4px, 4px); */
}

#title {
}

#status {
}

.uploadFile {

}

#walletButton {

}

#mintButton {

}